<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="CryptoParams">
      <file>CryptoParamsTest.php</file>
    </testsuite>
  </testsuites>

  <logging>
    <log type="coverage-html" target="build/coverage"/>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
  </logging>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <file>CryptoParams.php</file>
    </whitelist>
  </filter>
</phpunit>
